name: m324 ab3 a3
run-name: ${{ github.actor }}
on: [push]
jobs:
  build-and-test:
    runs-on: ubuntu-runners
    steps:
      - uses: actions/checkout@v4
      - run: yarn install
      - run: yarn build
      - run: yarn lint
      - run: yarn test
